@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    background-color: #f58a07;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
}

.hp_content{
    max-width: min-content;
    margin: 25px auto;  
    position: relative;  

    text-align: center;
}

#hp_logo{
    width: 150px;
    margin-top: 25px;
}

#hp_name{
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
    color: #084887;    

    margin-bottom: 25px;
    display:inline-block;
}
.hp_button{
    width: 200px;
    height: auto;
    margin: 5px 0;

    font-size: large;
    font-family: 'Abril Fatface', cursive;
    color: #084887;
    background-color: #28b7ca;
    border: #084887 1px solid;
    border-radius: 10px;
    padding: 5px 0;
}

header{
    width: 100%;
    background-color: #28b7ca;
    padding-top: 4px;
}

.header_img{
    width: 100%;
    background-color: #28b7ca;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.f_button{
    width: calc(100%/3);
    position: relative;
    padding: 10% 0;
    float: left;
    text-align: center;
    margin: auto;

    color: #084887;
    background-color: #28b7ca;
    border: transparent;
}

.footer_img{
    width: calc(100%/3);
    position: relative;
    float: left;
    text-align: center;
    margin: auto;
}