@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
   background-color: #f7f5fb;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
}

#hp_body{
     background-color: #f58a07;
}

.hp_content{
    max-width: min-content;
    margin: 25px auto;  
    position: relative;  

    text-align: center;
}

#hp_logo{
    width: 150px;
    margin-top: 25px;
}

#hp_name{
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
    color: #084887;    

    margin-bottom: 25px;
    display:inline-block;
}
.hp_button{
    width: 200px;
    height: auto;
    margin: 5px 0;

    font-size: large;
    font-family: 'Abril Fatface', cursive;
    color: #084887;
    background-color: #28b7ca;
    border: #084887 1px solid;
    border-radius: 10px;
    padding: 5px 0;
}

header{
    width: 100%;
    background-color: #28b7ca;
    padding-top: 4px;
}

#header_img{
    width: 100%;
    background-color: #28b7ca;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f58a07;
}

.f_button{
    width: calc(100%/3);
    position: relative;
    padding: 10% 0;
    float: left;
    text-align: center;
    margin: auto;

    color: #084887;
    background-color: #28b7ca;
    border: transparent;
}

.footer_img{
    width: calc(100%/3);
    position: relative;
    float: left;
    text-align: center;
    margin: auto;
}

#profile_img{
    width: 90%;
    border: #084887 2px solid;
    border-radius: 100px;
    margin: 3px;
    text-align: center;
}

.p_headers, .p_names{
    font-family: arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding-left: 15px;
    color: #084887;
}
ul{
    font-family: arial, sans-serif;
    font-size: medium;
    color: #084887;
}

.p_headers, ul{
    margin: 5px 0;
}

#p_table {   
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid transparent;
    text-align:left;
}